job-definitions:

  - name: ...
    job-role-arn: ...
    image: ...
    command:
      - ...
    environment:
      ...: ...
    memory: ...
    vcpus: ...
    retry-attempts: ...

# batch aws region
region: us-east-1
