appdirs==1.4.3
argparse==1.4.0
boto==2.49.0
enum34==1.1.6
future==0.16.0
hiredis==0.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
ModestMaps==1.4.7
protobuf==3.4.0
psycopg2-binary==2.8.6
pyclipper==1.2.0
pycountry==20.7.3
pyproj==2.1.0
python-dateutil==2.8.1
PyYAML==4.2b4
redis==2.10.6
requests==2.25.1
Shapely==1.7.1
six==1.11.0
StreetNames==0.1.5
statsd==3.2.1
ujson==1.35
Werkzeug==0.12.2
wsgiref==0.1.2
zope.dottedname==4.2
edtf==2.6.0
mapbox-vector-tile==1.2.0
boto3==1.16.40
